
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3.25rem;
    background-color: #000009;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #b3b3b3;
}

/* //////////////////////////// */
.nav_left {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    gap: 1rem;
}
/* //////////////////////////// */
.nav_center {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 1;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.center_items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.item_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.15rem 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;

}

.list_items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    align-content: center;
    flex-direction: row;
}

.list_items[data-active='true'] {
    border-bottom: 2px solid #00ffe7;
}

.list_items[data-active='false'] {
    .item_wrapper {
        opacity: 0.6;
    }
}

.list_items:hover {
    .item_wrapper {
    background-color: #71717147;
    }
}

.center_link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: 0.35rem 0.75rem;
}

/* //////////////////////////// */
.nav_right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    gap: 1rem;
}