
.topNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 10%;
    background-color: #000009;
    border-bottom: 1px solid #e6e6e6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #fff;
    gap: 0.75rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Fira', monospace;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0 0.5rem;
    width: 100%;
    height: 100%;
}

.timeText {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Fira', monospace;
}

.timeSubtext {
    color: #c2c2c2;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Fira', monospace;
    margin-top: 0.25rem;
}