.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2.5rem;
    padding: 2rem;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 75%;
    background-color: #000009;
    border: 3px solid #fff;
}