

.newListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    transition: all 0.3s ease;
}

.input_container {

}

/* //////////////////////////// */
.shadow_container {

}

/* //////////////////////////// */
.options_container {

} 