

.taskinput_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid hsl(240 3.7% 15.9%);
}

.taskinput_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    margin-bottom: 0.5rem;
}
.taskinput_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.taskinput_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.taskinput_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    gap: 1rem;
    padding: 0.75rem 0;
}

.taskinput_input {
    width: 100%;
}

.textarea_title {
    height: 30%;
}

.textarea_description {
    height: 70%;
    text-wrap: wrap;
    resize: none;
}


.datainfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    gap: 1.5rem;
    padding: 0.75rem 0;
}

.date_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
}

.type_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.25rem;
}

.taskinput_duedate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.taskinput_priority {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}

.taskinput_category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
}


.button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.taskinput_button {
    margin-top: 1rem;
}
